li{
  display: inline-block;
  /* width: 35%; */
  align-items: center;
    padding: 0 5px;
    box-sizing: border-box;

}
ul{
display: flex;
	flex-wrap: wrap;
	gap: 10px;
  margin-left: -35px;
}
.movieBox{
  border: 1px solid goldenrod;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px 10px;
 
}
.active{
  background-color: darkcyan;
  color: white;
   text-decoration: none;
   font-style: italic;
   display: block;
   width: 80px;
   height: 30px;
   text-align: center;
   line-height: 30px;
}